*{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 auto;
  width: 90%;
}
a{
text-decoration: none;
}
body{
  font-family: sans-serif;
}
button{
  cursor: pointer;
  border: none;

}
input{
  outline: none;
  border: none;
}